.products-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

header {
  background-color: var(--ana-beyaz);
}

body.dark-mode header {
  background-color: var(--dark-mode-header-footer-bg);
}

main {
  border-top: 0.3px solid rgba(0, 0, 0, 0.3);
}

body.dark-mode main {
  border-top: 0.3px solid rgba(255, 255, 255, 0.3);
}

.sidebar {
  width: 250px;
  height: 500px;
  padding: 20px;
  background-color: var(--ana-beyaz);
  border-radius: 8px;
  margin-right: 20px;
  box-shadow: 0 2px 4px var(--ink-siyah);
}

body.dark-mode .sidebar {
  background-color: var(--dark-mode-header-footer-bg);
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.2);
}

.sidebar h2 {
  margin-top: 0;
  margin-bottom: 20px;
  color: var(--ink-siyah);
  font-size: 1.5em;
}

body.dark-mode .sidebar h2 {
  color: var(--dark-mode-text);
}

.category-list {
  list-style: none;
  padding: 0;
}

.category-list li {
  margin-bottom: 10px;
}

.category-list button {
  background: none;
  border: none;
  color: var(--ana-red);
  cursor: pointer;
  font-size: 1.1em;
  padding: 5px 0;
  text-align: left;
  width: 100%;
}

body.dark-mode .category-list button {
  color: var(--dark-mode-text);
}

.category-list button:hover {
  color: var(--cre-red);
}

.main-content {
  flex-grow: 1;
  padding: 20px;
  background-color: var(--ana-beyaz);
  border-radius: 8px;
  box-shadow: 0 2px 4px var(--ink-siyah);
}

body.dark-mode .main-content {
  background-color: var(--dark-mode-header-footer-bg);
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.2);
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 30px;
  margin-top: 20px;
}

.product-card {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px var(--ink-siyah);
  transition: transform 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--acik-beyaz);
}

body.dark-mode .product-card {
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
  background-color: var(--dark-mode-bg);
}

.product-card img {
  width: 100%;
  height: 200px;
  object-fit: contain;
  padding: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

body.dark-mode .product-card img {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.product-info {
  padding: 15px;
  text-align: center;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-info h3 {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--ink-siyah);
  font-size: 1.3em;
}

body.dark-mode .product-info h3 {
  color: var(--dark-mode-text);
}

.product-info p {
  color: var(--ink-siyah);
  font-size: 0.9em;
  line-height: 1.5;
  margin-bottom: 15px;
}

body.dark-mode .product-info p {
  color: var(--dark-mode-text);
}

.product-price {
  font-size: 1.4em;
  color: var(--ana-red);
  font-weight: bold;
  margin-bottom: 15px;
}

.show-product-button {
  background-color: var(--cre-red);
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.2s ease-in-out;
}

.show-product-button:hover {
  background-color: #bd0120;
}

@media (max-width: 768px) {
  .products-container {
    flex-direction: column;
    padding: 10px;
    width: 100%;
    margin: 0;
  }

  .sidebar {
    width: 100%;
    height: auto;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .main-content {
    width: 100%;
    padding: 15px;
    margin: 0;
  }

  .product-grid {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}
